.urban-toast {
    position: fixed;
    top: 100px;
    right: 20px;
    min-width: 280px;
    max-width: 360px;
    padding: 12px 16px;
    border-radius: 4px;
    color: #111;
    font-size: 14px;
    z-index: 9999;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
}

.urban-toast-success {
    /*background-color: #111;*/
    background-color: #fff;
    border-left: 4px solid darkgreen;
}

.urban-toast-error {
    /*background-color: #111;*/
    background-color: #fff;
    border-left: 4px solid var(--bs-primary);
}

.urban-toast__title {
    font-weight: 600;
    margin-bottom: 2px;
}

.urban-toast__close {
    margin-left: auto;
    cursor: pointer;
    font-weight: bold;
}
