<section class="hero-section d-flex align-items-center margin-large">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="hero-content col-md-6 text-center">
        <h1 class="display-1">About Us</h1>
        <div class="breadcrumbs">
            <span class="item">
              <a href="/">Home /</a>
            </span>
          <span class="item">About Us</span>
        </div>
      </div>
    </div>
  </div>
</section>